<h1>Invoice #<%= @invoice.id %></h1><br>
<h3>Invoice Details</h3>
<table style="width: 50%">
    <tr>
      <td>Status</td>
      <td> <%= form_with model: [:admin, @invoice], local: true do |f| %>
      <%= f.select :status,
          # Below we're retaining the correct formatting of the string in the db,
          # while capitalizing for readability on the front-end. See options_for_select for more info
          options_for_select(@invoice.statuses.map { |s| [s.capitalize, s] }, @invoice.status)%>
      <%= f.submit %>
    <% end %></td>
    </tr>
    <tr>
      <td>Created At</td>
      <td> <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></td>
    </tr>
    <tr>
      <td>Customer</td>
      <td> <%= @invoice.customer.full_name  %></td>
    </tr>
    <tr>
      <td>Undiscounted Total Revenue</td>
      <td><%= number_to_currency(@invoice.undiscounted_revenue.to_f/100) %></td>
    </tr>
    <tr>
      <td>Discounted Total Revenue</td>
      <td><%= number_to_currency(@invoice.discounted_revenue.to_f/100) %></td>
    </tr>
</table><br><br>

<h3>Invoice Item Details</h3>
<table class="invoice-items"style='width: 80%; border-color: white;'>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Undiscounted Unit Price</th>
        <th>Discounted Unit Price</th>
        <th>Status</th>
      </tr>
        <% @invoice_items.each do |ii| %>
          <tr>
            <td><%= ii.item.name %></td>
            <td><%= ii.quantity %></td>
            <td><%= number_to_currency(ii.unit_price.to_f / 100) %></td>
            <td><%= number_to_currency(ii.discounted_unit_price.to_f / 100) %></td>
            <td><%= ii.status %></td>
          </tr>
        <% end %>
    </table>