<h1><%= "#{@merchant.name}'s Discounts" %></h1><br>

<button><%= link_to "Add New Discount",  new_merchant_bulk_discount_path, method: :get %></button><br><br>

<table style="width: 30%", class='merchant-discount-index'>
    <tr>
    <th>Discount ID</th>
    <th>Discount</th>
    <th>Item Quantity</th>
    <th>Remove Discount</th>
    </tr>
    <% @discounts.each do |discount| %>
    <tr id="merchant-discount-index-<%= discount.id %>" >
        <td><%= link_to "#{discount.id}", merchant_bulk_discount_path(@merchant, discount), method: :get %>
        <td><%= number_to_percentage(discount.discount, precision: 0) %></td>
        <td><%= discount.item_quantity %></td>
        <td><%= link_to 'Remove', merchant_bulk_discount_path(@merchant, discount), method: :delete %>
    </tr>
    <% end %>
</table><br>

<h3>Upcoming Holidays</h3>
<ul>
<li><%= @next_three_holidays[0]%></li>
<li><%= @next_three_holidays[1]%></li>
<li><%= @next_three_holidays[2]%></li>
</ul>
