<div> 
    <section>
    <h1><%= @merchant.name %></h1>
    <button><%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %> </button>
    <button><%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %> </button>
    <button><%= link_to 'My Discounts',  merchant_bulk_discounts_path(@merchant) %> </button>
    </section><br>

    <div class="row">
      <div class="column" style="width: 50%">
          <%= render partial: 'partials/top_customers' %>
      </div>
    </div> 

    <section>
      <div class="column" style="width: 50%">
          <%= render partial: 'partials/shippable_items' %>
      </div>
    </section>
</div>